.container {
    animation: slideIn 0.4s ease-out;
}

.title {
    font-size: 2rem;
    color: var(--text-primary);
    margin-bottom: 0.5rem;
}

.description {
    color: var(--text-secondary);
    margin-bottom: 2rem;
    font-style: italic;
}

.taskList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
a {
    color: #fd9090;
}

.taskItem {
    background: var(--bg-card);
    padding: 1rem 1.5rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.2s ease;
    cursor: default;
}

.taskItem:hover {
    border-color: var(--accent);
    transform: translateX(5px);
    box-shadow: -5px 0 15px rgba(56, 189, 248, 0.1);
}

.taskEmoji {
    font-size: 1.2rem;
}

.taskText {
    color: var(--text-primary);
    font-weight: 500;
}

/* Анимация появления */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
