/* Сброс базовых отступов браузера */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Центрирование формы на весь экран */
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f7fafc; /* Светло-серый приятный фон */
    padding: 1rem;
    box-sizing: border-box;
}
